body {
    background-color: gold;
}

.navbar .navbar-brand {
    color: gold;
}

.jumbo1 {
    background-image: url(EljayCover.jpeg);
    background-attachment: fixed;
    background-size: cover;
}

.jumbo2 {
    background-image: url(oldenuffpic.jpg);
    background-attachment: fixed;
    background-size: cover;
}

.jumbo3 {
    background-image: url(rebirf\ cover\ copy.jpg);
    background-attachment: fixed;
    background-size: cover;
}

h1 {
    color: plum;
    text-align: center;
    font-family: 'Handlee', cursive;
    font-size: 20px;
}

.perf {
    font-family: 'Kalam'
}

.tracks {
    font-family: 'Kalam';
}

.row {
    text-align: center;
}
